.results-page{
	text-align: center;
    padding: 6rem 10rem;
}

.question-header{
	font-family: Montserrat;
	font-size: 2rem;
	text-align: center;
	padding-bottom: 2rem;
}

.results-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}